# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp
*-cache.lib
*-rescue.lib
*-save.pro
*-save.kicad_pcb

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv

# Gerber exports
KiCAD/SX8634-Breakout/
KiCAD/SX8634-Breakout.zip

# Library links and build artifacts
lib/ManuvrOS
build
sdkconfig.defaults
sdkconfig.old

# Filesystem artifacts
.directory
